body {
    background-image: url('Imagens/Blue\ background.jpg');
    background-size: 600px;
}

.loGin {
    text-align: left;
}

.logoImg {
    width: 200px;
}

.logo {
    text-align: center;
    color: white;
}

.campo {
    background-color: white;
    border-radius: 50px;
}

.radious {
    border: 0px;
    width: 250px;
}

.entrar {
    border-radius: 50px;
    border: 0px;
    text-align: center;
}

.esqueci {
    color: white;
    background-color: initial;
    border: 0px;
}

#menu_linha_1 {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.Texto {
    text-align: center;
    margin: 1px;
}

.botao {
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}

.Tamanho_img {
    width: 110px;
}

#menu_linha_2 {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

#menu_linha_3 {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.Rotas {
    background-color: white;
    border-radius: 20px;
    margin-left: 20px;
}

.RotasImg {
    width: 150px;
}

header {
    color: white;
    justify-content: space-between;
    display: flex;
    padding: 5px;
    padding: 10px;
}

.logoMenu {
    width: 79px;
}