body {
    background-image: url('Imagens/Blue\ background.jpg');
    background-size: 600px;
}

.loGin {
    text-align: left;

}

.logoImg {
    width: 200px;
}

.logo{
    text-align: center;
    color: white;
}

.campo {
    background-color: white;
    border-radius: 50px;
}

.radious{
    border: 0px;
    width:250px ;
}

.entrar{
    border-radius: 50px;
    border: 0px;
    text-align: center;
}

.esqueci{
    color: white;
    background-color: initial;
    border: 0px;
}